---
import HeroNav from '@/components/common/HeroNav.astro'

import heroDesktop from '@/assets/images/news_type_two/hero-1.jpg'
import heroMobile from '@/assets/images/news_type_two/hero-1-mobile.jpg'

import { BREAKPOINTS } from '@/scripts/utils'

interface Props {
    userType?: 'tourist' | 'agent'
}

const { userType = 'tourist' } = Astro.props
const base = import.meta.env.BASE_URL
---

<section class="hero-section news-type-two-hero _dark-text">
    <picture class="hero-bg">
        <source media={`(max-width: ${BREAKPOINTS.mobile}px)`} srcset={heroMobile.src} />
        <img src={heroDesktop.src} alt="" loading="eager" decoding="async" />
    </picture>

    <HeroNav
        items={[
            { label: 'Главная', href: `${base}${userType}/` },
            { label: 'Глобус-News', href: `${base}${userType}/news/` },
            { label: 'Турция приглашает на бархатный сезон!' },
        ]}
    />

    <div class="hero-content">
        <h2 class="hero-title">Турция приглашает</h2>
        <h2 class="hero-title">на бархатный сезон!</h2>
        <p class="hero-subtitle">
            Бархатный сезон в Турции: идеальное время для отдыха. Мягкий климат и тёплое море
            создают идеальные условия для восстановления сил перед долгой зимой, а лучшие курорты
            радуют выгодными акциями и спецпредложениями. Спешите воспользоваться всеми
            преимуществами осеннего отдыха на Анталийском побережье.
        </p>
    </div>
</section>

<style lang="scss" is:global>
    .news-type-two-hero {
        @include adaptive(min-height, 970, 776);
        @include adaptive(padding-top, 447, 518);

        .hero-bg {
            @include adaptive(height, 355, 231);
            @include adaptive(width, 924, 450);
            @include adaptive(left, 100, 15);
            @include adaptive(top, 630, 250);
        }

        .hero-content {
            z-index: 2;
            flex-wrap: wrap;
            flex-direction: row;
            flex: 0;
        }

        .hero-title {
            text-align: left;

            &:nth-child(2) {
                @include adaptive(padding-left, 434, 0);
            }
        }

        .hero-subtitle {
            @include adaptive(padding-top, 138, 16);
            @include adaptive(padding-right, 130, 0);

            @include desktop {
                width: 41%;
                margin-left: auto;
            }
        }
    }
</style>
