---
const includedData = {
    title: 'В стоимость тура входит:',
    items: [
        'Авиаперелет Новосибирск - Дубай - Мале - Дубай -Новосибирска (Fly Dubai  с багажом)',
        'Мед.страховка',
        'Проживание в отелях 4-5*, 2х местное размещение',
        'Питание по программе',
    ],
    additionalTitle: 'Дополнительно оплачивается:',
    additionalText: 'Таксы оплачиваются напрямую в отелях  (Green Tax) - 12$ на человека в сутки',
    bottomText: 'Необходимо отправить скан загранпаспорта и визитку.',
    contactEmail: 'globus6@globus-tour.ru',
}
---

<section class="promo-tour-included-section">
    <div class="section-container">
        <h2>{includedData.title}</h2>

        <ul>
            {includedData.items.map((item) => <li>{item}</li>)}
        </ul>

        <div class="divider"></div>

        <h3>{includedData.additionalTitle}</h3>
        <p>{includedData.additionalText}</p>

        <div class="divider"></div>

        <p>
            Заявки на участие в рекламном туре принимаются на почту{' '}
            <a href={`mailto:${includedData.contactEmail}`}>{includedData.contactEmail}</a>
            <br />
            {includedData.bottomText}
        </p>
    </div>
</section>

<style lang="scss" is:global>
    .promo-tour-included-section {
        @include adaptive(margin-top, 120, 60);

        ul {
            @include adaptive(margin-top, 90, 50);
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            @include adaptive(gap, 32, 30);

            @include mobile {
                grid-template-columns: 1fr;
            }

            li {
                @include adaptive(font-size, 20, 18);
            }
        }

        .divider {
            @include adaptive(margin-top, 60, 40);
            @include adaptive(margin-bottom, 60, 40);
        }

        h3 {
            color: var(--color-globus-blue);
            @include adaptive(font-size, 32, 26);
            text-align: center;
        }

        p {
            @include adaptive(margin-top, 30, 30);
            text-align: center;
        }
    }
</style>
