---
import HeroNav from '@/components/HeroNav.astro'
import { BREAKPOINTS } from '@/scripts/utils'

import heroDesktop from '@/assets/images/business_tourism/hero-1.jpg'
import heroMobile from '@/assets/images/business_tourism/hero-1-mobile.jpg'

interface Props {
    userType?: 'tourist' | 'agent'
}

const { userType = 'tourist' } = Astro.props
const base = import.meta.env.BASE_URL
---

<section class="hero-section business-tourism-hero">
    <picture class="hero-bg">
        <source media={`(max-width: ${BREAKPOINTS.mobile}px)`} srcset={heroMobile.src} />
        <img src={heroDesktop.src} alt="" loading="eager" decoding="async" />
    </picture>

    <HeroNav
        items={[{ label: 'Главная', href: `${base}${userType}/` }, { label: 'Деловой туризм' }]}
        textColor="dark"
    />

    <div class="hero-content _dark-text">
        <h2 class="hero-title">Деловой туризм</h2>
        <p class="hero-subtitle">
            Создаём безупречные бизнес-путешествия и незабываемые корпоративные события. Пока вы
            достигаете целей, мы создаём комфорт.
        </p>
    </div>
</section>

<style lang="scss" is:global>
    .business-tourism-hero {
        @include adaptive(padding-top, 390, 210);

        .hero-bg {
            position: relative;
            @include adaptive(margin-top, 60, 30);
            @include side-paddings;
            width: 100%;
            @include adaptive(min-height, 360, 231);

            @include desktop {
                order: 2;
            }
        }

        .hero-content {
            @include adaptive(margin-top, 30, 20);

            @include desktop {
                flex-direction: row;
            }
        }

        .hero-title {
            text-align: left;
            @include adaptive(font-size, 74, 60);

            @include desktop {
                width: 50%;
            }
        }

        .hero-subtitle {
            @include adaptive(padding-top, 2, 16);
            @include adaptive(padding-right, 30, 2);

            @include desktop {
                width: 33%;
                margin-left: auto;
            }
        }
    }
</style>
