---
const companyInfo = {
    title: 'Реквизиты компании',
    fullName: 'ОБЩЕСТВО С ОГРАНИЧЕННОЙ ОТВЕТСТВЕННОСТЬЮ ТУРИСТИЧЕСКОЕ АГЕНТСТВО «ГЛОБУС-ТУР»',
    details: [
        {
            text: 'ИНН: 5402129363',
        },
        {
            text: 'Реестровый номер: ',
            link: {
                text: 'РТО 001058',
                url: 'https://tourism.gov.ru/operators/show.php?id=106536',
            },
        },
        {
            text: 'Адрес, место нахождения: 630091, г. Новосибирск, ул. Советская, 64, оф. 403',
        },
    ],
}
---

<section class="company-details-section">
    <div class="section-container">
        <h2>{companyInfo.title}</h2>

        <div class="company-details-grid">
            <p>{companyInfo.fullName}</p>

            <ul>
                {
                    companyInfo.details.map((item) => (
                        <li>
                            {item.text}
                            {item.link && (
                                <a href={item.link.url} target="_blank" rel="noopener noreferrer">
                                    {item.link.text}
                                </a>
                            )}
                        </li>
                    ))
                }
            </ul>
        </div>
    </div>
</section>

<style lang="scss" is:global>
    .company-details-section {
        @include adaptive(margin-top, 120, 60);

        .company-details-grid {
            @include adaptive(margin-top, 90, 50);
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            @include adaptive(gap, 90, 30);

            @include mobile {
                grid-template-columns: 1fr;
            }
        }
    }
</style>
