---
interface InfoItem {
    icon: string
    label: string
    value?: string
    description?: string
    list?: string[]
}

interface Props {
    items: InfoItem[]
    dark?: boolean
    title?: string
}

const { items, dark = false, title } = Astro.props
---

<section class:list={['info-list-section', { _dark: dark }]}>
    <div class="section-container">
        {title && <h2>{title}</h2>}
        {
            items.map((item, index) => (
                <>
                    <div class="info-list-item">
                        <div class="svg-icon">
                            <img src={item.icon} alt="" />
                        </div>
                        <div class="info-list-content">
                            <h3>{item.label}</h3>
                            <div
                                class:list={[
                                    'info-list-text',
                                    {
                                        _value: !!item.value,
                                        _description: !!item.description,
                                        _list: !!item.list,
                                    },
                                ]}
                            >
                                {item.value && <p>{item.value}</p>}
                                {item.description && <p>{item.description}</p>}
                                {item.list && (
                                    <ul>
                                        {item.list.map((listItem) => (
                                            <li>{listItem}</li>
                                        ))}
                                    </ul>
                                )}
                            </div>
                        </div>
                    </div>
                    {index < items.length - 1 && <div class="divider" />}
                </>
            ))
        }
    </div>
</section>

<style lang="scss" is:global>
    .info-list-section {
        @include adaptive(margin-top, 60, 30);
        @include adaptive(padding-top, 80, 40);
        @include adaptive(padding-bottom, 80, 40);

        .section-container {
            display: flex;
            flex-direction: column;

            h2 {
                @include adaptive(margin-bottom, 60, 30);
                margin-left: auto;
                margin-right: auto;

                @include desktop {
                    width: 80%;
                }
            }
        }

        .info-list-item {
            display: flex;
            @include adaptive(gap, 40, 24);
            align-items: center;

            @include desktop {
                @include adaptive(padding-left, 30, 0);
            }

            @include mobile {
                flex-direction: row;
                align-items: flex-start;
            }
        }

        .info-list-content {
            flex: 1;
            display: flex;
            align-items: center;
            @include adaptive(gap, 40, 20);

            @include mobile {
                flex-direction: column;
                align-items: flex-start;
                @include adaptive(gap, 12, 8);
            }

            h3 {
                @include font-circe-regular;
                color: var(--color-globus-sand);
                @include adaptive(font-size, 24, 20);
                @include adaptive(letter-spacing, 2.4, 2);
                flex-shrink: 0;
                @include adaptive(width, 800, auto);
            }
        }

        .info-list-text {
            flex: 1;

            &._value {
                p {
                    @include adaptive(font-size, 26, 22);
                }
            }

            &._description {
                p {
                    color: var(--color-globus-light-blue);
                    @include adaptive(font-size, 20, 18);
                }
            }

            &._list {
                ul {
                    @include adaptive(gap, 12, 10);
                }

                li {
                    color: var(--color-globus-light-blue);
                    @include adaptive(font-size, 20, 18);
                    @include adaptive(padding-left, 23, 20);

                    &::before {
                        @include adaptive(top, 7, 6);
                        @include adaptive(width, 8, 6);
                        @include adaptive(height, 8, 6);
                    }
                }
            }
        }

        .divider {
            @include adaptive(margin-top, 24, 48);
            @include adaptive(margin-bottom, 24, 48);
        }
    }
</style>
