---
// src/layouts/Layout.astro
import '../styles/fonts.scss'
import 'swiper/css'
import 'swiper/css/navigation'
import 'photoswipe/style.css'
import Header from '@/components/common/Header.astro'
import Footer from '@/components/common/Footer.astro'
import Modal from '@/components/common/Modal.astro'
import SocialButtons from '@/components/common/SocialButtons.astro'
import ContactFormPopupContent from '@/components/main/ContactFormPopupContent.astro'

interface Props {
    title: string
    userType?: 'tourist' | 'agent'
    heroTextColor?: 'light' | 'dark'
    showHeader?: boolean
    showFooter?: boolean
}

const {
    title,
    userType = 'tourist',
    heroTextColor = 'light',
    showHeader = true,
    showFooter = true,
} = Astro.props
const base = import.meta.env.BASE_URL
---

<html lang="ru">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="height=device-height, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <link rel="icon" type="image/svg+xml" href={`${base}favicon.svg`.replace(/\/+/g, '/')} />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        {showHeader && <Header userType={userType} heroTextColor={heroTextColor} />}
        <main>
            <slot />
        </main>
        {showFooter && <Footer userType={userType} />}
        <Modal id="contact-popup">
            <ContactFormPopupContent userType={userType} />
        </Modal>
        <SocialButtons
            variant="fixed"
            maxHref="#"
            telegramHref="https://t.me/+79130637716"
        />
        <script src="@/scripts/main.ts"></script>
    </body>
</html>

<style lang="scss" is:global>
    @use '@/styles/layout-base.scss';

    .swiper {
        @include side-paddings;

        .swiper-wrapper {
            @include adaptive(gap, 16, 12);
        }

        &.swiper-initialized {
            padding-left: 0 !important;
            padding-right: 0 !important;

            .swiper-wrapper {
                gap: 0 !important;
            }
        }
    }

    .cards-top-grid {
        @include side-paddings;
        position: relative;
        width: 100%;
        display: flex;
        @include adaptive(column-gap, 84, 0);
        @include adaptive(row-gap, 0, 50);
        flex-wrap: wrap;
        align-items: flex-start;
        z-index: 10;

        @include mobile {
            flex-direction: column;
        }
    }

    .stripe-section {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .dark-stripe-title {
        color: var(--color-globus-cream);
        flex: 1;
    }

    .dark-stripe {
        position: relative;
        width: 100%;
        background: var(--color-globus-blue);
        @include side-paddings;
    }

    .cards-bottom-grid-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 10;
        @include adaptive(padding-top, 40, 20);
    }

    .cards-bottom-grid {
        position: relative;
        width: 100%;
        display: flex;
    }

    .hotel-card {
        display: flex;
        flex-direction: column;
        @include adaptive(gap, 32, 40);
    }

    .card {
        position: relative;
        display: flex;
        flex-direction: column;
        white-space: normal;
        flex-shrink: 0;
        @include adaptive(gap, 22, 22);
        text-decoration: none;

        &._interactive {
            @include hover-card-default;
            cursor: pointer;
        }
    }

    .card-content {
        width: 100%;
        @include adaptive(gap, 14, 20);
        position: relative;
        display: flex;
        flex-direction: column;
    }

    .card-image {
        @include flex-center;
        position: relative;
        width: 100%;
        @include adaptive(height, auto, 231);
        overflow: hidden;

        img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .card-category,
    .card-date {
        @include adaptive(font-size, 16, 18);
        line-height: 1.6;
        color: var(--color-globus-light-blue);
        text-transform: uppercase;
        @include adaptive(letter-spacing, 3.2, 2);
    }

    .card-title {
        @include adaptive(font-size, 28, 26);
        color: var(--color-globus-blue);
        @include adaptive(max-width, 500, 100%);
    }

    .card-description {
        @include adaptive(font-size, 20, 18);
        color: var(--color-globus-light-blue);
        margin: 0;
    }

    .card-price {
        @include adaptive(font-size, 26, 26);
        color: var(--color-globus-sand);
    }

    .hotel-badge,
    .card-badge {
        @include flex-center;
        background: rgba(0, 0, 0, 0.4);
        border: 1px solid var(--color-globus-sand);
        border-radius: 500px;
        @include adaptive(padding-left, 40, 20);
        @include adaptive(padding-right, 40, 20);
        @include adaptive(padding-top, 10, 10);
        @include adaptive(padding-bottom, 10, 10);
        @include font-circe-regular;
        color: var(--color-globus-cream);
        line-height: 1.2;
        @include adaptive(font-size, 26, 18);
        z-index: 2;

        span {
            @include adaptive(padding-top, 2, 2);
            @include adaptive(font-size, 20, 16);
        }

        * {
            font-size: inherit;
            color: inherit;
            line-height: inherit;
        }
    }

    .offers-badge {
        @include font-circe-regular;
        color: var(--color-globus-sand);
        @include adaptive(font-size, 26, 26);
        line-height: 1.2;
        text-align: center;
        border: 1px solid var(--color-globus-sand);
        border-radius: 390px;
        @include adaptive(padding-top, 16, 12);
        @include adaptive(padding-bottom, 16, 12);
        @include adaptive(padding-left, 50, 30);
        @include adaptive(padding-right, 50, 30);
        @include adaptive(margin-top, 30, 20);
        @include adaptive(margin-bottom, 60, 40);
        margin-left: auto;
        margin-right: auto;
        width: fit-content;
    }

    .hotels-list {
        display: flex;
        flex-direction: column;

        .hotel-item {
            display: flex;
            @include adaptive(gap, 50, 20);

            @include mobile {
                flex-direction: column;
            }
        }

        .hotel-info {
            flex: 1;
            display: flex;
            flex-direction: column;

            @include mobile {
                order: 2;
            }

            h3 {
                @include adaptive(font-size, 28, 20);
            }

            .card-price,
            .text-accent {
                @include adaptive(font-size, 26, 20);
                color: var(--color-globus-sand);
            }

            .card-price {
                @include adaptive(margin-top, 16, 8);
                @include adaptive(margin-bottom, 40, 25);
            }

            ul {
                display: flex;
                flex-direction: column;
                @include adaptive(gap, 30, 20);
                @include adaptive(margin-bottom, 40, 30);

                li {
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    @include adaptive(gap, 8, 5);

                    span {
                        opacity: 0.6;
                        @include adaptive(font-size, 20, 18);
                    }
                }
            }

            &._gap-40 {
                ul {
                    margin-bottom: 0;
                }
            }
        }

        .button {
            @include adaptive(width, 273, 100%);
        }

        .hotel-image {
            position: relative;
            overflow: hidden;
            @include adaptive(width, 970, 100%);
            @include adaptive(height, 560, 300);

            @include desktop {
                flex-shrink: 0;
            }

            @include mobile {
                order: 1;
            }

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                display: block;
            }
        }

        .card-badge {
            position: absolute;
            @include adaptive(left, 36, 20);
            @include adaptive(top, 30, 20);
            @include adaptive(height, 54, 41);
        }

        .divider {
            @include adaptive(margin-top, 80, 40);
            @include adaptive(margin-bottom, 80, 40);
        }
    }
</style>
